@charset 'utf-8'

html {
	background-color: #E8E8E8;
}

body {
	width: 100%
	color: #E8E8E8;
}

p, h1, h2, h3, h4 {
	background-color: #E8E8E8;
	color: #000000;
	border: 1px;
	border-color: #7E7E7E;
	font-family: "Arial";
}